mixin home(data)
  section.home
    .home-slider


      .swiper-container.main-slider.loading
        .swiper-wrapper
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E')
              
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg')
    
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s')
  
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk')
 
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM')
        
        .swiper-button-prev.swiper-button-white
        .swiper-button-next.swiper-button-white

      .swiper-container.nav-slider.loading
        .swiper-wrapper
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E')
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg')   
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s')
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk')
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)')
              img.entity-img(src='https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM')