mixin home(data)
  section.home
    .home-slider


      .swiper-container.main-slider.loading
        .swiper-wrapper
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img1.jpg)')
              img.entity-img(src='static/img/assets/home/img1.jpg')
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img2.jpg)')
              img.entity-img(src='static/img/assets/home/img2.jpg')
     
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img3.jpg)')
              img.entity-img(src='static/img/assets/home/img3.jpg')

          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img4.jpg)')
              img.entity-img(src='static/img/assets/home/img4.jpg')
     
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img5.jpg)')
              img.entity-img(src='static/img/assets/home/img5.jpg')
     
              
         
        
        .swiper-button-prev.swiper-button-white
        .swiper-button-next.swiper-button-white

      .swiper-container.nav-slider.loading
        .swiper-wrapper
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img1.jpg)')
              img.entity-img(src='static/img/assets/home/img1.jpg')
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img2.jpg)')
              img.entity-img(src='static/img/assets/home/img2.jpg')
     
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img3.jpg)')
              img.entity-img(src='static/img/assets/home/img3.jpg')

          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img4.jpg)')
              img.entity-img(src='static/img/assets/home/img4.jpg')
     
          .swiper-slide
            figure.slide-bgimg(style='background-image:url(static/img/assets/home/img5.jpg)')
              img.entity-img(src='static/img/assets/home/img5.jpg')
     