mixin place(data)
  section.place
    .content

      .place-logo
        img(src="static/img/assets/home/lg.png", alt="")
      
      .place-down
        img(src="static/img/assets/place/arw.svg", alt="")