mixin header(data)
  header.header
    .header-wrapper

      .header-left  
        a(href="index.html").logo
          img(src="static/img/assets/header/logo.svg")

        a(href="#").toportfolio Портфолио

      .header-right
        ul.socials
          li
            a(href="#" target='_blank')
              img(src="static/img/assets/header/fb.svg", alt="")
          li
            a(href="#" target='_blank')
              img(src="static/img/assets/header/in.svg", alt="")
        
        a(href="#").header-button
          span Напишите нам