mixin main(data)
  main.main
    .content


      .main-text
        p Мне нравится это сочетание картинок. В мобильной версии тоже выглядит неплохо. Ultumate Tuning работает с 2009 года, за это время мы выросли и достигли немалых успехов. Мы восстанавливаем ретро автомобили и индивидуализируем современные автомобили разных марок, создаем уникальный, не имеющий аналогов дизайн экстерьера и интерьера.
      .ild-slider

        .ild-slides.owl-carousel

          .ild-slide
            img(src="static/img/assets/main/m1.jpg")
          .ild-slide
            img(src="static/img/assets/main/m2.jpg")
          .ild-slide
            img(src="static/img/assets/main/m3.jpg")
          .ild-slide
            img(src="static/img/assets/main/m4.jpg")
      

      .main-items


        //- main Item
        .main-item
          .main-item__photo
            img(src="static/img/assets/main/i1.jpg", alt="")
          .main-item__title Фирменный стиль
          .main-item__text
            p Тут нужно небольшое описание, чтобы все сразу понять и это будет выглядеть лучше с коротким текстом
        
        //- main Item
        .main-item
          .main-item__photo
            img(src="static/img/assets/main/i2.jpg", alt="")
          .main-item__title Инженерные проекты
          .main-item__text
            p Тут нужно небольшое описание, чтобы все сразу понять и это будет выглядеть лучше с коротким текстом
        
        //- main Item
        .main-item
          .main-item__photo
            img(src="static/img/assets/main/i3.jpg", alt="")
          .main-item__title Технология кухни
          .main-item__text
            p Тут нужно небольшое описание, чтобы все сразу понять и это будет выглядеть лучше с коротким текстом